<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Elegí tu método de pago</h2>
                    <p>Contamos con varios métodos de pago. Ofrecemos descuentos con Lemon Cash! </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Worldwide shipping</h2>
                    <p>Hace tu pedido desde donde quieras, como quieras. Not Chanclas trabaja con shipping internacional. Envíos gratis en compras mayores a $50,000. </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Personaliza tus zapatillas</h2>
                    <p>En Not Chanclas te damos la opción de personalizar tus zapatillas. Ya sea para regalar o para vos, podés agregarles tu nombre o un mensaje grabado sin costo adicional.</p>
                </article>
            </div>
        </div>
    </div>
</footer>