<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			

			<form action="/perfil" method="GET" class="agregarproductoform"> <!-- aca antes decia login.html -->
				<label class="textproduct">IMAGEN</label><input type="file" placeholder="FOTO DE PRODUCTO" class="inputproduct">
				<label class="textproduct">NOMBRE DE PRODUCTO</label><input type="text" placeholder="NOMBRE PRODUCTO" class="inputproduct">
				<label class="textproduct">DESCRIPCION</label><input type="text" placeholder="DESCRIPCION PRODUCTO" class="inputproduct">
				<label class="textproduct">FECHA DE CARGA</label><input type="date" placeholder="FECHA DE CARGA" class="inputproduct">
				<button type="submit" class ="addproductbutton"> AGREGAR PRODUCTO </button>
			</form>

			<img src="/images/greenvans.jpeg" class ="fotoregistro2">


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>